
/*-----------------------------------------------------------------------------------------------------------*/
/*                                              FONTS                                                        */
/*-----------------------------------------------------------------------------------------------------------*/


@font-face {
    font-family: "segoe-ui";
    src: url('../fonts/segoe-ui-597b7afdac038.ttf') format('truetype');
}
@font-face {
    font-family: "segoe-ui-bold";
    src: url('../fonts/segoe-ui-bold-597b7ae04680d.ttf') format('truetype');
}






/*-----------------------------------------------------------------------------------------------------------*/
/*                                              DEFAULTS                                                     */
/*-----------------------------------------------------------------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
}
body {
	background: #FFF;
}
ul {
	list-style: none;
}
a {
	text-decoration: none !important;
}





/*-----------------------------------------------------------------------------------------------------------*/
/*                                              NAVIGATION                                                   */
/*-----------------------------------------------------------------------------------------------------------*/


.navbar-brand img{
	width: 150px;
	margin-top: -15px;
	vertical-align: middle;
}
.navbar-brand:hover {
	border: none !important;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent !important;
}
#my-navbar{
	height: 60px;
	background-color: #FFF !important;
    border-color: #FFF; 
    box-shadow: none;
}
#my-navbar a {
	color: #000;
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 105%;
    height: 60px;
    font-weight: bold;
}
#my-navbar a:hover {
    color: #222 !important;
    border-bottom: 3px solid #ff0050;
}
.selected {
    color: #222 !important;
    border-bottom: 3px solid #ff0050;
}



/*-----------------------------------------------------------------------------------------------------------*/
/*                                              HEADER                                                       */
/*-----------------------------------------------------------------------------------------------------------*/



/* Carousel Fading slide */
.carousel-fade .carousel-inner { background: #000; }
.carousel-fade .carousel-control { z-index: 2; }  
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  height: 100vh;
  width: 100%;
  }
.carousel-fade .item:nth-child(1) {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/Amplifz-1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.carousel-fade .item:nth-child(2) {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/portfolio/Amplifz-2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.carousel-fade .item:nth-child(3) {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/header-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

  .carousel-fade .next.left,
  .carousel-fade .prev.right,
  .carousel-fade .item.active { opacity: 1; }

  .carousel-fade .active.left,
  .carousel-fade .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
    }


/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

/* Carousel Control custom */
.carousel-control .control-icon {
  font-size: 12px;
  height: 20px;
  margin-top: -15px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 5;
 }

  .carousel-control .prev { margin-left:  -2px;  left: 20%; } /* Prev */
  .carousel-control .next { margin-right: -2px; right: 20%; } /* Next */


/* Removing BS background */
.carousel .control-box { opacity: 0; }
a.carousel-control.left  { left: 0; background: none; border: 0;}
a.carousel-control.right { right: 0; background: none; border: 0;}

.control-icon:hover {
	border-bottom: 2px solid #00FAD0;
}

/* Animation */
.control-box, a.carousel-control, .carousel-indicators li {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;   
  /* hardware acceleration causes Bootstrap carousel controlbox margin error in webkit */
  /* Assigning animation to indicator li will make slides flicker */
  } 


/* Hover animation */
.carousel:hover .control-box { opacity: 1; }
.carousel:hover a.carousel-control.left { left: 15px; }
.carousel:hover a.carousel-control.right { right: 15px; }  


/* Carouse Indicator */
.carousel-indicators li.active,
.carousel-indicators li { border: 0; }

.carousel-indicators li {
  background: #666;
  margin: 0 3px;
  width: 12px;
  height: 12px;
  }
.carousel-caption h4 {
	color: #FFF;
    font-family: "segoe-ui";
    margin-bottom: 3%;
}
.carousel-caption h1 {
    font-family: "segoe-ui-bold";
    width: 100%;
	font-weight: 900;
	color: #FFF;
  	margin-top: -40% !important;
    margin-bottom: 2%;
}
.carousel-caption a {
	color: #FFF;
    font-family: "segoe-ui";
    font-size: 18px;
    border: 1px solid #FFF;
    padding: 8px;
    text-decoration: none !important;
}
.carousel-caption a:hover {
	color: #FFF;
    border: 1px solid #c9c9c9;
    background-color: #c9c9c9;
}


/*-----------------------------------------------------------------------------------------------------------*/
/*                                              ABOUT                                                        */
/*-----------------------------------------------------------------------------------------------------------*/

.about {
	padding: 5%;
}
.about h2 {
    font-family: "segoe-ui-bold";
    width: 90%;
	font-weight: 900;
	color: #666;
    margin-bottom: 8%;
}
.about h4 {
    font-family: "segoe-ui-bold";
    width: 100%;
	color: #000;
	text-align: center;
}
.about p {
    font-family: "segoe-ui";
    line-height: 1.8;
    font-size: 17px;
    color: #777;
    margin-bottom: 10%;
    width: 90%;
    font-weight: bold;
}
.about a {
	color: #666;
    font-family: "segoe-ui";
    font-size: 18px;
    border: 1px solid #666;
    padding: 8px;
    text-decoration: none !important;
}
.about a:hover {
	color: #FFF;
    border: 1px solid #777;
    background-color: #777;
}
.about img {
	width: 77%;
	margin-left: 5%;
}
.social-btn {
    font-size: 15px !important;
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
}
.social-btn:hover {
    background-color: #FFF !important;
}
.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-youtube {
	font-size: 15px;
	padding: 5px;
	border: 1px solid #000;
	border-radius: 100%;
	width: 25px;
	margin: 5px;
}
.fa-facebook{color: #FFF; background-color: #4060A5; border: none;}
.fa-twitter{color: #FFF; background-color: #00ABE3; border: none;}
.fa-instagram{color: #FFF; background-color: #874B2C; border: none;}
.fa-youtube{color: #FFF; background-color: #F9554C; border: none;}


.quote {
	height: 280px;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/8.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.box {
	width: 40%;
	height: 100%;
	margin: 0px auto;
	border: 1px solid #FFF;
	background-color: #FFF;
	padding: 3%;
	margin-top: 5%;
    -webkit-box-shadow: 0 0 5px rgba(201,201,201,.9);
    -moz-box-shadow: 0 0 5px rgba(201,201,201,.9);
    box-shadow: 0 0 5px rgba(201,201,201,.9);
}
.quote p {
    font-family: "segoe-ui";
    font-size: 15px;
    color: #777;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    margin: 0px !important;
    padding: 0px;
}


/*-----------------------------------------------------------------------------------------------------------*/
/*                                              SERVICES                                                     */
/*-----------------------------------------------------------------------------------------------------------*/
.services {
	padding: 5%;
	text-align: center;
	background-color: #F0F6F9;
}
.services h1 {
	margin-bottom: 2%;
    font-family: "segoe-ui-bold";
}
.services h4{
    font-family: "segoe-ui-bold";
}
.services p {
    font-family: "segoe-ui";
    font-size: 16px;
}
.services img{
	width: 150px;
}




/*-----------------------------------------------------------------------------------------------------------*/
/*                                              WHY US                                                       */
/*-----------------------------------------------------------------------------------------------------------*/


.whyUs {
	height: 100%;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/Amplifz-1.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.whyUs h4{
    font-family: "segoe-ui-bold";
    text-align: center;
    font-size: 24px;
}
.whyUs .box {
	width: 40%;
	height: 100%;
	margin: 0px auto;
	border: 1px solid #FFF;
	background-color: #FFF;
	padding: 3%;
	margin-top: 5%;
	margin-bottom: 4%;
    -webkit-box-shadow: 0 0 5px rgba(201,201,201,.9);
    -moz-box-shadow: 0 0 5px rgba(201,201,201,.9);
    box-shadow: 0 0 5px rgba(201,201,201,.9);
}
.whyUs p {
    font-family: "segoe-ui";
    font-size: 15px;
    color: #777;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    margin: 0px !important;
    padding: 0px;
}



/*-----------------------------------------------------------------------------------------------------------*/
/*                                              PORTFOLIO                                                    */
/*-----------------------------------------------------------------------------------------------------------*/


.portfolio {
	margin: 0px !important;
	padding: 0px !important;
}
.portfolio img{
	width: 100%;
	height: 230px;
}
.portfolio .col-lg-3 {
	margin: 0px !important;
	padding: 0px !important;
}
.portfolio button {
	border: 1px solid #000;
	color: #000;
	padding: 10px;
	margin: 0px auto;
	margin-left: 25%;
	margin-top: 25%;
	width: 50%;
    background-color: transparent;
    background: transparent;
}
.portfolio button:hover {
	background-color: #777;
	color: #FFF;
	border: 1px solid #777;

}

/*-----------------------------------------------------------------------------------------------------------*/
/*                                              CONTACT                                                      */
/*-----------------------------------------------------------------------------------------------------------*/
.contact {
	height: 100%;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/Amplifz-1.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.contact h2 {
    font-family: "segoe-ui-bold";
    font-size: 3em;
    width: 100%;
	font-weight: 900;
	color: #FFF;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;

}
form {
	width: 50%;
	padding: 3%;
	margin: 0px auto;
	color: #FFF;
	margin-bottom: 4%;
	margin-top: 4%;
    background-color: transparent;
    background: transparent;
    border-color: transparent; 
}
.contact input[type="text"]{
  width:100%;
  padding:6px;
  border:none;
  outline:none;
  background:none;
  color:#FFF;
  font-style:italic;
  border-bottom:2px solid #FFF;
  margin-bottom:8px; 
}
.contact textarea {
  resize:none;
  height:150px;
  overflow-y:hidden;
  width:100%;
  padding:6px;
  border:none;
  outline:none;
  background:none;
  color:#FFF;
  font-style:italic;
  border-bottom:2px solid #FFF;
  margin-bottom:8px; 
}

.contact button {
	border: 1px solid #FFF;
	color: #FFF;
	padding: 10px;
	margin: 0px auto;
	margin-left: 30%;
	margin-top: 3%;
	width: 30%;
    background-color: transparent;
    background: transparent;
}
.contact button:hover {
	background-color: #777;
	color: #FFF;
}
label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
input[type="checkbox"] {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

/*-----------------------------------------------------------------------------------------------------------*/
/*                                              PORTFOLIO PAGE                                               */
/*-----------------------------------------------------------------------------------------------------------*/



#myCarousel2 {
	margin-bottom: 5%;
}
/* Carousel Fading slide */
.carousel-fade .carousel-inner { background: #000; }
.carousel-fade .carousel-control { z-index: 2; }  
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  width: 100%;
  }
 #myCarousel2 .item {
  height: 100vh;
 }

 #myCarousel2 .carousel-caption {
 	width: 50%;
 }

#myCarousel2 .item:nth-child(1) {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/portfolio/1.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#myCarousel2 .item:nth-child(2) {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/portfolio/9.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.carousel-fade .item:nth-child(3) {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/header-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

  .carousel-fade .next.left,
  .carousel-fade .prev.right,
  .carousel-fade .item.active { opacity: 1; }

  .carousel-fade .active.left,
  .carousel-fade .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
    }


/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

/* Carousel Control custom */
.carousel-control .control-icon {
  font-size: 12px;
  height: 20px;
  margin-top: -15px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 5;
 }

  .carousel-control .prev { margin-left:  -2px;  left: 20%; } /* Prev */
  .carousel-control .next { margin-right: -2px; right: 20%; } /* Next */


/* Removing BS background */
.carousel .control-box { opacity: 0; }
a.carousel-control.left  { left: 0; background: none; border: 0;}
a.carousel-control.right { right: 0; background: none; border: 0;}

.control-icon:hover {
	border-bottom: 2px solid #00FAD0;
}

/* Animation */
.control-box, a.carousel-control, .carousel-indicators li {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;   
  /* hardware acceleration causes Bootstrap carousel controlbox margin error in webkit */
  /* Assigning animation to indicator li will make slides flicker */
  } 


/* Hover animation */
.carousel:hover .control-box { opacity: 1; }
.carousel:hover a.carousel-control.left { left: 15px; }
.carousel:hover a.carousel-control.right { right: 15px; }  


/* Carouse Indicator */
.carousel-indicators li.active,
.carousel-indicators li { border: 0; }

.carousel-indicators li {
  background: #666;
  margin: 0 3px;
  width: 12px;
  height: 12px;
  }
#myCarousel2 .carousel-caption h4 {
	color: #FFF;
    font-family: "segoe-ui";
}
#myCarousel2 .carousel-caption {
	background-color:rgba(255,255,255,0.5) !important;
	width: 39%;
	height: 30%;
	padding: 0px;
	margin-left:-10%;
	z-index: 99;
	margin-top: 5%;
}
#myCarousel2 .carousel-caption p {
    font-family: "segoe-ui";
    line-height: 2.1;
    box-shadow: none !important;
	color:rgba(0,0,0,0.7) !important;
	margin-top: 4% !important;
	width: 100%;
	height: 100%;
	font-size: 18px !important;
	padding: 0px;
	z-index: 999;
}
#myCarousel2 .carousel-caption a {
	color: #FFF;
    font-family: "segoe-ui";
    font-size: 18px;
    border: 1px solid #FFF;
    padding: 8px;
    text-decoration: none !important;
}
#myCarousel2 .carousel-caption a:hover {
	color: #FFF;
    border: 1px solid #c9c9c9;
    background-color: #c9c9c9;
}










.portfolio-slider {
	width: 100% !important;
	height: 100% !important;
	padding: 0px !important;
	margin-bottom: 8% !important;
	margin-top: 0% !important;
}
.col-xs-12 {
	padding: 0px !important;
	margin:0px !important;
}
#carousel-example-generic {
	width: 100%;
	height: 100%;
	background-color: #707BB9;
}
#carousel-example-generic .carousel-inner {
	width: 100%;
	height: 100%;
 }
#carousel-example-generic .box{
    border: solid 1px #FFF;
	outline: solid 1px #e0e0e0;
}


#carousel-example-generic .carousel{
	margin-top: 30px;
	position: relative;
	padding-bottom: 50px;
	background-color: #D8D8D8;
	width: 100%;
	height: 350px;
}

#carousel-example-generic .item{
	min-height: 325px;
	padding-left: 30px;
	padding-right: 30px;
}

#carousel-example-generic .item h2{
	width: 80%;
	color: #FFF;
	padding: 15px;
	font-size: 38px;
	margin-bottom: 30px;
	text-align: center;
	text-shadow: 1px 2px 3px #444;
}

#carousel-example-generic .item .block{
	width: 100%;
	height: 470px;
	float: left;
	color: #FFF;
    background-color: transparent;
    background: transparent;
    border-color: transparent; 
	min-height: 200px;
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
	margin-left: 15%;
}
#carousel-example-generic img {
	width: 100% !important;
	height: 100% !important;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}

#carousel-example-generic .item h4{
	width: 100%;
	padding: 15px;
	font-size: 30px;
	font-weight: 900;
	text-align: center;
	color: #333;
}


#carousel-example-generic .item p{
	text-align: center;
	font-size: 18px;
	color: #666;
}

#carousel-example-generic .item .input-group{
	margin-bottom: 10px;
}

.block-1{
	background-color: #94C83C
}

.block-2{
	background-color: #FFF !important;
	height: 470px !important;
	width: 70% !important;
}

.block-3{
	background-color: #3498DB
}

.block-4{	
	background-color: #F7C767
}

.carousel-indicators {
    bottom: 0px;
}